<%- include("./partials/header") -%>

<h1>Zoek pagina</h1>

<form action="/results" method="GET">
    <input type="text" name="zoeken" placeholder="Zoeknaam">
    <button>Zoeken</button>
</form>


<script src="/js/main.js"></script>
<%- include("./partials/footer") -%>